@import "tailwindcss";

@theme {
  --font-sans: Poppins, sans-serif;
  --color-brand: #2f6a62;
  --color-background: #f8faf9;
  --color-foreground: #0a0723;
  --color-accent: #eaecee;
  --color-placeholder: #6a6f7c;
  --color-error-foreground: #ef372b;
  --color-error: #ffe3e1;
}

@layer base {
  body {
    @apply bg-background font-sans text-foreground;
  }
}
@layer components {
  .btn {
    @apply cursor-pointer rounded-full px-5 py-3 text-[16px] font-semibold;
  }
  .btn-sm {
    @apply px-2.5 py-1.5 text-[12px] font-bold;
  }
  .btn-primary {
    @apply bg-brand text-white;
  }
  .btn-secondary {
    @apply border-[1px] border-accent;
  }
  .btn-destructive {
    @apply bg-error text-error-foreground uppercase;
  }
}
